<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="?mode=ads&category=auto">Авто</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="?mode=ads&category=property">Недвижимость</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="?mode=ads&category=services">Услуги</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="?mode=ads&category=forhome">Вещи для дома</a>
    </li>
</ul>
{% for item in ads %}
    <div class="card">
        <h5 class="card-header">{{ item[2] }} | {{ item[1] }}</h5>
        <div class="card-body">
            <p class="card-text">{{ item[4] }}</p>
            <p class="card-text">{{ item[3] }} ₽</p>
            <p class="card-text">{{ item[5] }}</p>
            <p class="card-text">{{ item[6] }}</p>
            {% if item[7] == id %}
                <a href="?mode=edit-ads&id={{item[0]}}" class="link-danger">Изменить</a> | <a href="?mode=delete-ads&id={{item[0]}}" class="link-danger">Удалить</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</body>
</html>
